[Unit]
Description=LED matrix driver

[Service]
WorkingDirectory=/root/LEDmatrix
ExecStart=/usr/bin/python3 server/driver.py

[Install]
WantedBy=default.target
